---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon-32x32.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>QR Code Project</title>
	</head>
	<body class="bg-[#d6e2f0] h-screen w-screen flex flex-column">
    <div class="w-[325px] bg-white my-auto mx-auto rounded-2xl p-4 drop-shadow-2xl">
      <img class="h-2/3 w-full rounded-xl" src="image-qr-code.png"/>
      <div class="text-center p-4">
        <h1 class="font-bold text-xl">Improve your front-end skills by building projects</h1>
        <p class="my-3 text-[15px]">Scan the qr code to visit Frontend Mentor and take your coding skills to the next level</p>
      </div>
    </div>
	</body>
</html>
